@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:focus {
  text-decoration: none;
}

span,
small {
  display: inline-block;
}

p {
  line-height: 26px;
}

a p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #121A1B;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  color: #121A1B;
  font-family: "Nunito Sans", sans-serif;
}

.rating i {
  font-size: 12px;
}

.line_limit_1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line_limit_2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line_limit_3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.line_limit_4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.line_limit_5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.line_limit_6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.line_limit_7 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.line_limit_8 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.line_limit_9 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

.line_limit_10 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.common_title {
  background-color: #FCA835;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 14px;
}

header {
  background-color: #FCA835;
  z-index: 9999;
  position: relative;
}
header .container {
  max-width: 1500px;
}
header ul li {
  display: inline-block;
  line-height: 35px;
}
header ul li a {
  color: #121A1B;
  font-size: 15px;
  font-weight: 700;
}
header ul li a i {
  padding-right: 5px;
  color: #ffffff;
}
header .left_info li {
  padding-right: 30px;
}
header .right_info li {
  padding-left: 30px;
}
header .top_menu {
  line-height: 35px;
  position: relative;
  width: 90px;
  margin: 0 auto;
}
header .top_menu .menu_name {
  cursor: pointer;
}
header .top_menu .semi_dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 180px;
  background-color: #FCA835;
  border: 5px solid #d38820;
  margin-top: -10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
header .top_menu .semi_dropdown_menu li {
  display: block;
}
header .top_menu .semi_dropdown_menu a {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: 24px;
  padding: 5px 20px;
  position: relative;
  display: block !important;
}
header .top_menu .semi_dropdown_menu a:hover {
  background-color: #d38820;
}
header .top_menu .semi_dropdown_menu a i {
  color: #ffffff;
  font-size: 14px;
  width: 20px;
}
header .top_menu span {
  font-size: 15px;
  font-weight: 700;
  padding: 0 2px;
}
header .top_menu i {
  color: #ffffff;
  font-size: 14px;
}
header .top_menu:hover .semi_dropdown_menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

nav {
  background-color: #f2f2f2;
  padding: 15px 0;
  position: relative;
  width: 100%;
  z-index: 999;
}
nav .container {
  position: relative;
}
nav .mega-menu {
  width: 98%;
  height: 345px;
  background-color: #f2f2f2;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #FCA835;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
nav .mega-menu .left-menu {
  background-color: #FCA835;
  padding: 14px;
  width: 20%;
  overflow-y: auto;
}
nav .mega-menu .left-menu h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ffffff;
}
nav .mega-menu .left-menu ul li {
  display: block;
  background-color: #FF5624;
  padding: 5px 6px;
  margin: 3px 0px;
}
nav .mega-menu .left-menu ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
nav .mega-menu .left-menu ul li:hover {
  background-color: #ffffff;
}
nav .mega-menu .left-menu ul li:hover a {
  color: #FF5624 !important;
}
nav .mega-menu .left-menu ul li.active {
  background-color: #ffffff;
}
nav .mega-menu .left-menu ul li.active a {
  color: #FF5624 !important;
}
nav .mega-menu .right-menu {
  width: 80%;
}
nav .mega-menu .right-menu .menu-list ul {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
nav .mega-menu .right-menu .menu-list ul li {
  margin: 0;
  width: 15.5%;
}
nav .mega-menu .right-menu .menu-list ul li a {
  width: 100%;
  text-align: center;
  border: 1px solid #FF5624;
  font-size: 18px;
  font-weight: 600;
  color: #121A1B;
  border-radius: 4px;
  padding: 7px 10px;
  transition: 0.2s;
}
nav .mega-menu .right-menu .menu-list ul li a:hover {
  background-color: #FF5624;
  color: #ffffff;
}
nav .mega-menu .right-menu .menu-list .view-all {
  padding: 0 16px;
}
nav .mega-menu .right-menu .menu-list .view-all a {
  background-color: #FCA835;
  color: #121A1B;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  display: block;
  border-radius: 20px;
  padding: 1px 0;
}
nav .show-mega-menu {
  visibility: visible;
  opacity: 1;
}
nav .logo-part ul li {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
nav .logo-part ul li i {
  color: #FF5624;
  font-size: 20px;
}
nav .logo-part ul .logo {
  margin-right: 40px;
}
nav .search-part .input-groups input {
  border: 1px solid #c0c0c0;
  height: 38px;
  border-radius: 50px;
  width: 100%;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
}
nav .search-part .input-groups button {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 38px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #FF5624;
  color: #ffffff;
  border: 0;
  font-size: 17px;
  font-weight: 600;
}
nav .cart-part .items {
  margin-left: 50px;
}
nav .cart-part .items a {
  font-size: 15px;
  font-weight: 600;
  color: #121A1B;
}
nav .cart-part .items a:first-child {
  margin-right: 15px;
}
nav .cart-part .carts a {
  width: 35px;
  height: 35px;
  border: 1px solid #FF5624;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: #FF5624;
  margin-left: 5px;
  transition: all linear 0.2s;
}
nav .cart-part .carts a:hover {
  background-color: #FF5624;
  color: #ffffff;
}

.banner .banner_slider {
  height: 350px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.banner .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.banner .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.banner .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  background-color: #FCA835;
  border-radius: 50%;
  border: 0;
}
.banner .slick-dots .slick-active button {
  background-color: #FF5624;
}

.common_widget_box {
  margin-top: 15px;
}

.common_widget_box_main_with_bg {
  background-color: #f2f2f2;
  padding: 5px 5px;
  border-radius: 10px;
}

.common_widget_box_main_without_bg {
  padding: 5px 5px;
  border-radius: 10px;
}

.common_category_widget {
  height: 100%;
  border: 1px solid #c0c0c0;
  padding: 16px 10px;
  border-radius: 10px;
}
.common_category_widget .title {
  padding-top: 20px;
}
.common_category_widget .title h4 {
  font-size: 16px;
  font-weight: 700;
  color: #707176;
  transition: all linear 0.2s;
}
.common_category_widget:hover .title h4 {
  color: #FCA835;
}

.common_product_widget {
  border: 1px solid #c0c0c0;
  position: relative;
}
.common_product_widget .discount {
  background-color: #FF5624;
  font-size: 10px;
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 1px;
  color: #ffffff;
  position: absolute;
  top: 3px;
  right: 3px;
}
.common_product_widget .text {
  background-color: #f2f2f2;
  border-top: 1px solid #c0c0c0;
  padding: 6px;
}
.common_product_widget .text .product_title {
  color: #121A1B;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 4px;
}
.common_product_widget .text .rating i {
  color: #FCA835;
}
.common_product_widget .text span {
  font-size: 14px;
  font-weight: 600;
}
.common_product_widget .text .product_action {
  border: 1px solid #c0c0c0;
  border-radius: 40px;
  padding: 0 14px;
  margin-top: 5px;
}
.common_product_widget .text .product_action .wishlist,
.common_product_widget .text .product_action .cart,
.common_product_widget .text .product_action .get_quote {
  background-color: transparent;
  border: 0;
}
.common_product_widget .text .product_action .get_quote {
  font-size: 15px;
  font-weight: 700;
  color: #121A1B;
  border: 1px solid #c0c0c0;
  padding: 5px 8px;
  border-radius: 5px;
  margin: -1px 0;
  transition: all linear 0.2s;
}
.common_product_widget .text .product_action .get_quote:hover {
  background-color: #FF5624;
  border-color: #FF5624;
  color: #ffffff;
}
.common_product_widget .text .product_action .wishlist,
.common_product_widget .text .product_action .cart {
  font-size: 17px;
  color: #707176;
  transition: all linear 0.2s;
}
.common_product_widget .text .product_action .wishlist:hover,
.common_product_widget .text .product_action .cart:hover {
  color: #FF5624;
}

.common_brand_widget {
  border: 1px solid #FCA835;
  border-radius: 5px;
  overflow: hidden;
}

footer {
  padding-top: 24px;
}
footer .footer_bg {
  background: #f2f2f2;
  padding: 60px 0;
}
footer .footer_bg .footer_about {
  padding-right: 30px;
}
footer .footer_bg .footer_about p {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 35px 0;
}
footer .footer_bg .footer_about ul li {
  position: relative;
  padding-left: 40px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #121A1B;
}
footer .footer_bg .footer_about ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #121A1B;
  line-height: 30px;
  transition: all linear 0.2s;
}
footer .footer_bg .footer_about ul li a:hover {
  color: #FF5624;
}
footer .footer_bg .footer_about ul li i {
  position: absolute;
  top: 0;
  left: 0;
  color: #FF5624;
  width: 30px;
  height: 30px;
  border: 1px solid #121A1B;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
footer .footer_bg .footer_title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
}
footer .footer_bg .footer_menus {
  padding-left: 40px;
}
footer .footer_bg .common_links li a {
  font-size: 16px;
  font-weight: 700;
  color: #121A1B;
  margin-bottom: 8px;
}
footer .footer_bg .social_info {
  margin-top: 40px;
}
footer .footer_bg .social_info a {
  margin-right: 5px;
}

.footer_btm {
  background-color: #FCA835;
  padding: 14px 0;
}
.footer_btm ul li {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding-right: 24px;
  margin-right: 18px;
  position: relative;
}
.footer_btm ul li::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "|";
}
.footer_btm ul li:last-child::before {
  display: none;
}

.bread-crumb {
  background-color: #707176;
  padding: 60px 0;
}
.bread-crumb h4 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.pagination ul li {
  display: inline-block;
}
.pagination ul li.number-of a {
  width: 38px;
  height: 38px;
  background-color: #FCA835;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 0 5px;
  color: #ffffff;
}
.pagination ul li.left-arrow,
.pagination ul .right-arrow {
  background-color: #FCA835;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  width: 90px;
  height: 38px;
  line-height: 38px;
}
.pagination ul li.left-arrow a,
.pagination ul .right-arrow a {
  color: #121A1B;
}

.dashboard {
  padding: 30px;
}

.dashboard_top_header {
  width: 100%;
  background-color: #f2f2f2;
  padding: 15px 20px;
  border-radius: 10px;
  position: relative;
  z-index: 999;
}
.dashboard_top_header .dashboard_title h3 {
  font-size: 28px;
  font-weight: 700;
}
.dashboard_top_header .profile_widget .info_box {
  width: 129px;
  margin-left: auto;
  position: relative;
}
.dashboard_top_header .profile_widget .info_box .image_wrapper {
  cursor: pointer;
}
.dashboard_top_header .profile_widget .info_box .hover_dropdown_menu {
  position: absolute;
  top: calc(100% - 0px);
  right: 0;
  width: 220px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 24px;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
}
.dashboard_top_header .profile_widget .info_box .hover_dropdown_menu ul li {
  margin-bottom: 14px;
}
.dashboard_top_header .profile_widget .info_box .hover_dropdown_menu ul li a {
  font-size: 17px;
  font-weight: 600;
  color: #121A1B;
  display: block;
  transition: all linear 0.2s;
}
.dashboard_top_header .profile_widget .info_box .hover_dropdown_menu ul li a:hover {
  color: #FF5624;
}
.dashboard_top_header .profile_widget .info_box:hover .hover_dropdown_menu {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
.dashboard_top_header .profile_widget .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
}
.dashboard_top_header .profile_widget .img img {
  height: 100%;
  border-radius: 50%;
}
.dashboard_top_header .profile_widget .text {
  margin-left: 10px;
}
.dashboard_top_header .profile_widget .text h3 {
  font-size: 22px;
  font-weight: 700;
}
.dashboard_top_header .profile_widget .text h3 i {
  position: relative;
  top: -5px;
  font-size: 18px;
}

.dashboard_main_widget {
  margin-top: 24px;
}
.dashboard_main_widget .dashboard_left_menu {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px 14px;
}
.dashboard_main_widget .dashboard_left_menu ul li {
  margin-bottom: 4px;
}
.dashboard_main_widget .dashboard_left_menu ul li a {
  font-size: 18px;
  font-weight: 600;
  color: #121A1B;
  padding: 10px 20px;
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: all linear 0.2s;
  cursor: pointer;
}
.dashboard_main_widget .dashboard_left_menu ul li a i {
  position: relative;
  top: 6px;
  font-size: 16px;
}
.dashboard_main_widget .dashboard_left_menu ul li a:hover {
  background-color: #FCA835;
  color: #ffffff;
}
.dashboard_main_widget .dashboard_left_menu ul li.active a {
  background-color: #FCA835;
  color: #ffffff;
}

.dashboard_main_content {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 24px;
}
.dashboard_main_content .content_widget_title {
  margin-bottom: 14px;
}
.dashboard_main_content .content_widget_title h4 {
  font-size: 20px;
  font-weight: 700;
}
.dashboard_main_content .statistics_widget {
  margin-bottom: 24px;
}
.dashboard_main_content .statistics_widget .statistics_widget_item {
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  padding: 24px;
  background-color: #ffffff;
}
.dashboard_main_content .statistics_widget .statistics_widget_item .icon {
  width: 150px;
  height: 150px;
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
.dashboard_main_content .statistics_widget .statistics_widget_item .icon i {
  font-size: 44px;
  color: #FF5624;
}
.dashboard_main_content .statistics_widget .statistics_widget_item .icon .text {
  margin-top: 10px;
}
.dashboard_main_content .statistics_widget .statistics_widget_item .icon .text h5 {
  font-size: 22px;
  font-weight: 700;
}
.dashboard_main_content .statistics_widget .statistics_widget_item .icon .text h6 {
  font-size: 17px;
  font-weight: 700;
}
.dashboard_main_content .operation_widget {
  margin-bottom: 24px;
}
.dashboard_main_content .operation_widget .operation_widget_item {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
}
.dashboard_main_content .operation_widget .operation_widget_item .icon i {
  font-size: 44px;
  color: #FF5624;
}
.dashboard_main_content .operation_widget .operation_widget_item .icon .text {
  margin-top: 10px;
}
.dashboard_main_content .operation_widget .operation_widget_item .icon .text h5 {
  font-size: 17px;
  font-weight: 700;
}
.dashboard_main_content .operation_widget .operation_widget_item .icon .text h6 {
  font-size: 17px;
  font-weight: 700;
}
.dashboard_main_content .order_widget {
  width: 100%;
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.dashboard_main_content .order_widget .order_widget_title .order_title h4 {
  font-size: 20px;
  font-weight: 700;
}
.dashboard_main_content .order_widget .order_widget_title .view_all_btn {
  background-color: #FF5624;
  color: #ffffff;
  padding: 4px 14px;
  border-radius: 3px;
  border: 0;
}
.dashboard_main_content .order_widget .order_widget_table {
  margin-top: 14px;
}
.dashboard_main_content .order_widget .order_widget_table .product_view {
  background-color: #FF5624;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  font-size: 14px;
  transition: all linear 0.2s;
}
.dashboard_main_content .order_widget .order_widget_table .product_view tbody td {
  vertical-align: middle;
}
.dashboard_main_content .order_widget .order_widget_table .product_view:hover {
  background-color: #121A1B;
}

.all_order_and_search .title h4 {
  font-size: 26px;
  font-weight: 700;
}
.all_order_and_search .search input {
  width: 100%;
  height: 50px;
  border: 1px solid #707176;
  border-radius: 50px;
  padding: 0 20px;
  padding-right: 135px;
  font-size: 18px;
  font-weight: 500;
}
.all_order_and_search .search button {
  background-color: #FF5624;
  color: #ffffff;
  height: 50px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 0;
  top: 0;
  right: 0;
}

.order_table_widget {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 5px;
}
.order_table_widget .product_status {
  background-color: transparent;
  border: 0;
  font-size: 17px;
  font-weight: 600;
}
.order_table_widget .status_danger {
  background-color: red;
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: 700;
}
.order_table_widget .status_success {
  background-color: green;
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: 700;
}
.order_table_widget .childTableRow {
  display: none;
}
.order_table_widget .childTableRow td {
  background-color: #f2f2f2;
}
.order_table_widget .form-check .form-check-input {
  border-color: #707176 !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.order_table_widget .form-check .form-check-label {
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  line-height: 30px;
}
.order_table_widget .live_tracking .input-group-text {
  background-color: transparent;
  border: 0;
  font-size: 17px;
  font-weight: 700;
}
.order_table_widget .live_tracking input {
  border-radius: 5px !important;
  border-color: #c0c0c0 !important;
}
.order_table_widget .update_status {
  background-color: #FF5624;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  border: 0;
}
.order_table_widget .childTableRow table {
  border: 2px solid #555;
}

.subcategories-page {
  padding-top: 30px;
}

.subcategories-item .img {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  overflow: hidden;
}
.subcategories-item .img .overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100px;
  background-color: rgba(255, 86, 36, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.subcategories-item .img .overlay h4 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.subcategories-item .text {
  margin-top: 14px;
}
.subcategories-item .text h3 {
  font-size: 24px;
  font-weight: 700;
}
.subcategories-item:hover .overlay {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
