@media (max-width:1399.98px) {
  .brands_slider .icon {
    top: 14px;
  }

  .product-details-page .product-info .table> :not(caption)>*>* {
    padding-bottom: 1.5rem !important;
  }

  .product-details-page .product-facility ul li+li {
    margin-top: 22px;
  }

  .product-details-page .product-images .slick-dots {
    margin-top: 80px;
  }
}

@media (max-width:1199.98px) {
  nav .cart-part .items {
    margin-left: 6px;
  }

  .brands_slider .icon {
    top: 14px;
  }

  .brands_slider .icon.left {
    left: -24px;
  }

  .brands_slider .icon.right {
    right: -24px;
  }

  .banner .banner_slider {
    height: 300px;
  }

  nav .mega-menu .right-menu .menu-list ul li a {
    font-size: 16px;
  }

  nav .mega-menu .left-menu ul li a {
    font-size: 16px;
  }

  nav .mega-menu .left-menu {
    width: 25%;
  }

  nav .mega-menu .right-menu {
    width: 75%;
  }

  footer .footer_bg .footer_title {
    font-size: 22px;
  }

  .product-details-page .product-facility ul li .info h4 {
    font-size: 18px;
  }

  .subcategories-item .text h3 {
    font-size: 20px;
  }

  .subcategories-item .img .overlay h4 {
    font-size: 20px;
  }
}

@media (max-width:991.98px) {

  header .right_info li {
    padding-left: 18px;
  }

  header .left_info li {
    padding-right: 18px;
  }

  header .middle_info {
    position: relative;
    left: -45px;
  }

  nav .cart-part {
    width: 100%;
    margin-top: 12px;
    padding-top: 8px;
    border-top: 1px solid #ddd;
  }

  nav {
    padding-bottom: 10px;
  }

  .brands_slider .icon {
    top: 11px;
  }

  footer .footer_bg .footer_menus {
    padding-left: 0;
  }

  .footer_supprt {
    margin-top: 30px;
  }

  .usefull_links {
    margin-top: 30px;
  }

  .product-details-page .product-info .table> :not(caption)>*>* {
    padding-bottom: 1.2rem !important;
  }

  .product-details-page .product-images {
    padding: 0 120px 20px;
  }

  .checkout_latest_page .billing_address {
    margin-top: 30px;
  }

  nav {
    padding-top: 13px;
    padding-bottom: 13px;

    .cart-part {
      width: 100%;
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }
  }

  .footer_btm {
    padding-bottom: 78px;
  }
}

@media (max-width:767.98px) {
  header {
    padding: 8px 0;
  }

  header .middle_info {
    position: relative;
    left: 0;
    top: 10px;
  }

  header ul li {
    line-height: 26px;
  }

  nav .logo-part ul {
    display: flex;
    justify-content: space-between;
  }

  nav .left-menu ul {
    display: unset;
  }

  nav .mega-menu .left-menu {
    width: 45%;
  }

  nav .mega-menu .right-menu {
    width: 55%;
    padding: 12px;
  }

  nav .mega-menu .right-menu .menu-list ul li a {
    font-size: 15px;
  }

  nav .mega-menu .left-menu h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  nav .search-part {
    margin-top: 10px;
  }

  nav .mega-menu .right-menu .menu-list ul {
    gap: 0;
    padding: 0;
  }

  nav .mega-menu .right-menu .menu-list ul li {
    width: 48%;
    margin-bottom: 5px !important;
  }

  nav .logo-part ul li i {
    font-size: 16px;
  }

  nav .mega-menu .right-menu .menu-list .view-all {
    padding: 0 0px;
    margin-top: 8px;
  }

  nav .mega-menu {
    width: 100%;
    top: calc(100% + -96px);
    z-index: 99;
  }

  .product-details-page .product-images {
    padding: 0 80px 20px;
  }

  .product-details-page .overview-and-specification .menus .nav-link {
    font-size: 18px;
  }

  .product-details-page .overview-and-specification .information .details p {
    font-size: 16px;
  }

  .customer_registration .form_main {
    padding: 20px 0px 30px;
  }

  .merchate_registration .title h3 {
    font-size: 22px;
  }

  .merchate_registration .form_main {
    padding: 20px 0px 30px;
  }
}

@media (max-width:575.98px) {
  header .left_info {
    text-align: left;
  }

  header .middle_info {
    position: relative;
    left: 0;
    top: 0;
  }

  header .right_info li {
    padding-left: 0;
    padding-right: 13px;
  }

  header .left_info li {
    padding-right: 13px;
  }

  header .top_menu {
    position: relative;
    width: 100%;
    top: 0px;
    height: 6px;
  }

  header .top_menu .semi_dropdown_menu {
    left: unset;
    width: 180px;
    right: 0;
    top: 40px;
  }

  nav .mega-menu .left-menu {
    width: 50%;
  }

  nav .mega-menu .right-menu {
    width: 50%;
  }

  nav .mega-menu .right-menu .menu-list ul li {
    width: 100%;
  }

  .banner .banner_slider {
    height: 222px;
  }

  .common_title {
    font-size: 17px;
  }

  .brands_slider .icon.right {
    right: -7px;
  }

  .brands_slider .icon.left {
    left: -7px;
  }

  footer .footer_bg .footer_menus {
    margin-top: 30px;
  }

  .footer_btm ul li {
    font-size: 16px;
    padding-right: 17px;
    margin-right: 16px;
  }

  .footer_btm ul li:last-child {
    margin-right: 0;
    padding-right: 0;
  }

  .product-details-page .product-images {
    padding: 0 20px 20px;
  }

  .product-details-page .product-info table tr th {
    font-size: 17px;
  }

  .product-details-page .overview-and-specification .menus .nav-link {
    margin-bottom: 8px;
  }

  .about_us_page .subscribe_newsletter {
    width: 100% !important;
    margin: 0 auto;
  }

  .contact_form .form_main {
    .input_groups {
      display: block !important;
    }

    .input_groups label {
      width: 100%;
      flex: 0 0 auto;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .contact_form .form_main .input_groups {
    margin-bottom: 15px;
  }

  .customer_login .form_main .form_box {
    padding: 20px 0px 30px;
  }

  .customer_login .fotter_part {
    padding: 0 0px;
    padding-bottom: 0;
  }

  .customer_login .fotter_part .action_btn {
    font-size: 16px;
  }

  .customer_registration .form_main .input_groups {
    display: block !important;
  }

  .customer_registration .form_main .input_groups label {
    width: auto;
  }

  .customer_registration .form_main .input_groups label {
    font-size: 18px;
  }

  .customer_registration .form_main .input_groups span {
    width: auto;
    font-size: 23px;
  }

  .customer_registration .form_main .input_groups {
    margin-bottom: 10px;
  }

  .customer_registration .title h3 {
    font-size: 22px;
  }

  .merchate_registration .form_main .input_groups {
    display: block !important;
  }

  .merchate_registration .form_main .input_groups label {
    width: auto;
    font-size: 18px;
  }

  .merchate_registration .form_main .input_groups span {
    width: auto;
    font-size: 25px;
  }

  .merchate_registration .form_main .input_groups {
    margin-bottom: 10px;
  }

  .common_product_widget .text .product_action .get_quote {
    font-size: 13px;
  }

  .common_product_widget .text .product_action {
    padding: 0 6px;
  }

  .common_product_widget .text .product_action .wishlist,
  .common_product_widget .text .product_action .cart {
    font-size: 15px;
  }
}