@import "../variables/colors";
@import "../mixin/font";
@import "../mixin/line-limit";

.common_widget_box {
  margin-top: 15px;
}

.common_widget_box_main_with_bg {
  background-color: $light;
  padding: 5px 5px;
  border-radius: 10px;
  margin-top: 14px;
}

.common_widget_box_main_without_bg {
  padding: 5px 5px;
  border-radius: 10px;
  margin-top: 14px;
}


// common category widget
.common_category_widget {
  height: 100%;
  border: 1px solid $border;
  padding: 16px 10px;
  border-radius: 10px;

  .title {
    padding-top: 20px;

    h4 {
      @include font(16px, 700);
      color: $light-black;
      transition: all linear .2s;
    }
  }

  &:hover {
    .title {
      h4 {
        color: $primary;
      }
    }
  }
}

// common product widget
.common_product_widget {
  border: 1px solid $border;
  position: relative;

  .discount {
    background-color: $secondary;
    @include font(10px, 700);
    padding: 3px 8px;
    border-radius: 1px;
    color: $white;
    position: absolute;
    top: 3px;
    right: 3px;
  }

  .text {
    background-color: $light;
    border-top: 1px solid $border;
    padding: 6px;

    .product_title {
      color: $black;
      @include font(15px, 600);
      padding-bottom: 4px;
    }

    .rating {
      i {
        color: $primary;
      }
    }

    span {
      @include font(14px, 600);
    }

    .product_action {
      border: 1px solid $border;
      border-radius: 40px;
      padding: 0 14px;
      margin-top: 5px;

      .wishlist,
      .cart,
      .get_quote {
        background-color: transparent;
        border: 0;
      }

      .get_quote {
        @include font(15px, 700);
        color: $black;
        border: 1px solid $border;
        padding: 5px 8px;
        border-radius: 5px;
        margin: -1px 0;
        transition: all linear .2s;

        &:hover {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
        }
      }

      .wishlist,
      .cart {
        font-size: 17px;
        color: $light-black;
        transition: all linear .2s;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

}

// common brand widget
.common_brand_widget {
  border: 1px solid $primary;
  border-radius: 5px;
  overflow: hidden;
}