@import "../variables/colors";
@import "../mixin/font";

footer {
  padding-top: 24px;

  .footer_bg {
    background: #f2f2f2;
    padding: 60px 0;

    .footer_about {
      padding-right: 30px;

      p {
        @include font(15px, 600);
        margin: 10px 0 35px 0;
      }

      ul {
        li {
          position: relative;
          padding-left: 40px;
          margin-top: 10px;
          @include font(14px, 700);
          color: $black;

          a {
            @include font(14px, 700);
            color: $black;
            line-height: 30px;
            transition: all linear .2s;

            &:hover {
              color: $secondary;
            }
          }

          i {
            position: absolute;
            top: 0;
            left: 0;
            color: $secondary;
            width: 30px;
            height: 30px;
            border: 1px solid $black;
            text-align: center;
            line-height: 30px;
            font-size: 14px;
          }
        }
      }
    }

    .footer_title {
      @include font(26px, 700);
      margin-bottom: 24px;
    }

    .footer_menus {
      padding-left: 40px;
    }

    .common_links {
      li {
        a {
          @include font(16px, 700);
          color: $black;
          margin-bottom: 8px;
        }
      }
    }

    .social_info {
      margin-top: 40px;

      .social {
        a {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          line-height: 30px;
          font-size: 13px;
          color: $white;
          margin-right: 3px;

          &:first-child {
            background-color: #3b5998;
          }

          &:nth-child(2) {
            background-color: #00acee;
          }

          &:nth-child(3) {
            background-color: #0072b1;
          }

          &:nth-child(4) {
            background-color: #B63794;
          }
        }
      }
    }
  }
}


.footer_btm {
  background-color: $primary;
  padding: 14px 0;

  ul {
    li {
      display: inline-block;
      @include font(18px, 700);
      color: $white;
      padding-right: 24px;
      margin-right: 18px;
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "|";
      }

      &:last-child {
        &::before {
          display: none;
        }
      }
    }
  }
}


.mobile_footer_menu {
  background-color: $black;
  padding: 6px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      a {
        text-align: center;
        height: 50px;
        color: $white;
        line-height: 20px;
        padding-top: 10px;
        @include font(14px, 500);

        i {
          display: block;
        }
      }

      button {
        width: 40px;
        text-align: center;
        height: 50px;
        color: $white;
        line-height: 20px;
        padding-top: 10px;
        @include font(14px, 500);
        border: 0;
        background-color: transparent;
      }
    }
  }
}

.mobile_category_menu_box {
  .category_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .main_menus {
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $white;
    z-index: 9999;
    padding: 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

    .sign_in {
      margin-top: auto;
    }

    ul {
      li {
        margin-bottom: 5px;

        a {
          background-color: #f2f2f2;
          color: $black;
          padding: 8px 16px;
          @include font(16px, 500);
          width: 100%;
          border-radius: 5px;
          transition: 0.3s;

          &:hover {
            background-color: $primary;
            color: $white;
          }

          i {
            margin-right: 4px;
          }
        }
      }
    }
  }
}

.overlay_active {
  visibility: visible !important;
  opacity: 1 !important;
}

.menu_active {
  left:0 !important;
}