@import "../variables/colors";
@import "../mixin/font";

nav {
  background-color: $light;
  padding: 15px 0;
  // position: sticky;
  top: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

  .container {
    position: relative;
  }

  .mega-menu {
    width: 98%;
    min-height: 345px;
    background-color: $light;
    position: absolute;
    top: calc(100% - -20px);
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid $primary;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;

    .left-menu {
      background-color: $primary;
      padding: 14px;
      width: 20%;
      overflow-y: auto;

      h4 {
        @include font(22px, 600);
        margin-bottom: 5px;
        color: $white;
      }

      ul {
        li {
          display: block;
          background-color: $primary;
          padding: 5px 6px;
          margin: 3px 0px;

          a {
            @include font(18px, 500);
            color: $white;
          }

          &:hover {
            background-color: $white;

            a {
              color: $secondary !important;
            }
          }
        }

        li.active {
          background-color: $white;

          a {
            color: $primary !important;
          }
        }
      }
    }

    .right-menu {
      width: 80%;
      padding-bottom: 15px;

      .menu-list {
        ul {
          padding: 16px;
          display: flex;
          flex-wrap: wrap;
          gap: 14px;


          li {
            margin: 0;
            // width: 15.5%;

            a {
              width: 100%;
              text-align: center;
              border: 1px solid $primary;
              @include font(18px, 600);
              color: $black;
              border-radius: 4px;
              padding: 7px 10px;
              transition: 0.2s;

              &:hover {
                background-color: $primary;
                color: $white;
              }
            }
          }
        }

        .view-all {
          padding: 0 16px;

          a {
            background-color: $primary;
            color: $white;
            @include font(13px, 700);
            text-align: center;
            display: block;
            border-radius: 20px;
            padding: 1px 0;
          }
        }
      }
    }
  }

  .show-mega-menu {
    visibility: visible;
    opacity: 1;
  }

  .logo-part {
    ul {
      li {
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;

        a {
          color: $black;
        }

        i {
          color: $primary;
          font-size: 20px;
        }
      }

      .logo {
        margin-right: 40px;
      }
    }
  }

  .search-part {
    .input-groups {
      input {
        border: 1px solid $border;
        height: 38px;
        border-radius: 12px;
        width: 100%;
        padding: 0 20px;
        @include font(14px, 500);
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 38px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: $primary;
        color: $white;
        border: 0;
        @include font(17px, 600);
      }
    }
  }

  .cart-part {
    .items {
      margin-left: 50px;

      a {
        @include font(15px, 600);
        color: $black;

        &:first-child {
          margin-right: 15px;
        }
      }
    }

    .carts {
      a {
        width: 35px;
        height: 35px;
        border: 1px solid $primary;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        color: $primary;
        margin-left: 5px;
        transition: all linear .2s;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }

      .mobile_search_option {
        width: 35px;
        height: 35px;
        background-color: $primary;
        border: 0;
        border-radius: 50%;
        text-align: center;
        line-height: 37px;
        color: $white;
        margin-left: 5px;
        transition: all linear .2s;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}

.mobile_search_boxes {
  .search_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .search_main_content {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $white;
    z-index: 9999;
    padding: 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

    .search {
      margin-bottom: 20px;

      .input_groups {
        position: relative;

        input {
          width: 100%;
          height: 45px;
          border: 1px solid $primary;
          border-radius: 5px;
          @include font(16px, 400);
          padding: 0 50px 0 14px;
        }

        button {
          border: 0;
          background-color: $primary;
          width: 40px;
          height: 40px;
          color: $white;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 3px;
          border-radius: 5px;

        }
      }
    }

    .menus {
      margin-bottom: 20px;
      border-bottom: 1px solid $border;
      padding-bottom: 20px;
      ul {
        li {
          margin-bottom: 5px;

          a {
            background-color: #f2f2f2;
            color: $black;
            padding: 8px 16px;
            @include font(16px, 500);
            width: 100%;
            border-radius: 5px;
            transition: 0.3s;

            &:hover {
              background-color: $primary;
              color: $white;
            }

            i {
              margin-right: 4px;
            }
          }
        }
      }
    }
    .contacts{
      ul{
        li{
          margin-bottom: 14px;
          a{
            color: $black;
            @include font(16px, 500);
            i{
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.navbar_overlay_active {
  visibility: visible !important;
  opacity: 1 !important;
}

.navbar_main_active {
  left: 0 !important;
}