@import "../variables/colors";
@import "../mixin/font";

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  ul {
    li {
      display: inline-block;
    }

    li.number-of {

      a {
        width: 38px;
        height: 38px;
        background-color: $primary;
        border-radius: 50%;
        text-align: center;
        line-height: 38px;
        color: $white;
        @include font(16px, 700);
        margin: 0 5px;
        color: $white;
        transition: all 0.3s ease;

        &:hover {
          background-color: $black;
        }
      }
    }

    li.left-arrow,
    .right-arrow {
      background-color: $primary;
      border-radius: 30px;
      @include font(16px, 700);
      transition: all 0.3s ease;

      &:hover {
        background-color: $black;
      }

      a {
        color: $white;
        width: 90px;
        height: 38px;
        line-height: 38px;
      }
    }
  }
}