@import "../variables/colors";
@import "../mixin/font";

.product-details-page {
  padding-top: 24px;

  .product-widget {
    // border: 1px solid $border;
  }

  .product-images {
    // border-right: 1px solid $border;
    padding: 0 20px 20px;

    .slick-dots {
      margin-top: 60px;
      margin-left: -5px;
      margin-right: -5px;
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
    }

    .slick-dots li {
      overflow: hidden;
      display: inline-block;
      max-height: 56px;
      max-width: 112px;
      margin: 5px;
    }

    .slick-dots li img {
      height: 100%;
      width: 100%;
      cursor: pointer;
      opacity: 0.5;
      object-fit: contain;
    }

    .slick-dots li.slick-active img {
      cursor: default;
      opacity: 1;
    }

    .slick-prev,
    .slick-next {
      margin: -50px 0 0;
      z-index: 99;
      position: absolute;
      top: 50%;
    }

    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }

    .icon {
      display: inline-block;
      height: 50px;
      width: 50px;
    }

    .icon__cnt {
      height: 100%;
      width: 100%;
    }
  }

  .product-info {
    padding: 20px 0;
    position: relative;

    // &::before {
    //   position: absolute;
    //   top: 0;
    //   left: -12px;
    //   width: 1px;
    //   height: 100%;
    //   background-color: $border;
    //   content: "";
    // }

    // &::after {
    //   position: absolute;
    //   top: 0;
    //   right: -12px;
    //   width: 1px;
    //   height: 100%;
    //   background-color: $border;
    //   content: "";
    // }

    table {
      tr {
        th {
          @include font(20px, 700);

          i {
            color: $black;
            width: 26px;
          }
        }

        td {
          @include font(18px, 600)
        }
      }
    }

    h4 {
      @include font(26px, 700);
      margin-bottom: 20px;
    }

    .star {
      i {
        color: $primary;
      }
    }

    .social {
      a {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 13px;
        color: $white;
        margin-right: 3px;

        &:first-child {
          background-color: #3b5998;
        }

        &:nth-child(2) {
          background-color: #00acee;
        }

        &:nth-child(3) {
          background-color: #0072b1;
        }

        &:nth-child(4) {
          background-color: #B63794;
        }
      }
    }

    .product_action {
      border: 1px solid $border;
      border-radius: 40px;
      padding: 0 14px;
      margin-top: 5px;
      width: 220px;
      background-color: $light;
      margin: 20px 0 0;

      .wishlist,
      .cart,
      .get_quote {
        background-color: transparent;
        border: 0;
      }

      .get_quote {
        @include font(17px, 700);
        color: $black;
        border: 1px solid $border;
        padding: 13px 14px;
        border-radius: 5px;
        margin: -1px 0;
        transition: all linear .2s;
      }
      .get_quote:hover {
        background-color: $primary;
        color: $white;
        border-color: $primary;
      }

      .wishlist,
      .cart {
        font-size: 20px;
        color: $black;
        transition: all linear .2s;
        padding: 0 5px;
        &:hover{
          color: $primary;
        }
      }
    }
  }

  .product-facility {
    padding: 20px 0;
    padding-right: 24px;

    ul {
      li {
        position: relative;
        padding-left: 30px;

        .icon {
          position: absolute;
          top: 3px;
          left: 0;

          i {
            font-size: 20px
          }
        }

        .info {
          h4 {
            @include font(20px, 700);
            margin-bottom: 5px;
          }

          span {
            @include font(15px, 400);
            color: $light-black;
          }
        }
      }

      li+li {
        margin-top: 30px;
      }
    }
  }

  .overview-and-specification {
    margin-top: 40px;
    margin-bottom: 40px;

    .menus {
      border-bottom: 1px solid $border;

      .nav-link {
        color: $black;
        @include font(20px, 600);
        padding: 4px 0;
        margin-right: 32px;
        border-bottom: 2px solid transparent;
        border-radius: 0;
      }

      .nav-pills .nav-link.active {
        color: $black;
        background-color: transparent;
        border-color: $primary;
      }
    }
    .information{
      margin-top: 30px;
      .details{
        p{
          margin-bottom: 24px;
          @include font(18px, 500);
        }
      }
    }
  }
}