@import "../variables/colors";
@import "../mixin/font";
@import "../mixin/line-limit";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:focus {
  text-decoration: none;
}

span,
small {
  display: inline-block;
}


p {
  line-height: 26px;
}

a p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

body {
  overflow-x: hidden;
  @include font(16px, 400);
  color: $black;
  font-family: 'Nunito Sans', sans-serif;
}

// rating part
.rating {
  i {
    font-size: 12px;
  }
}

// line limit part
.line_limit_1 {
  @include line_limit(1)
}

.line_limit_2 {
  @include line_limit(2)
}

.line_limit_3 {
  @include line_limit(3)
}

.line_limit_4 {
  @include line_limit(4)
}

.line_limit_5 {
  @include line_limit(5)
}

.line_limit_6 {
  @include line_limit(6)
}

.line_limit_7 {
  @include line_limit(7)
}

.line_limit_8 {
  @include line_limit(8)
}

.line_limit_9 {
  @include line_limit(9)
}

.line_limit_10 {
  @include line_limit(10)
}

// common title part start
.common_title{
  background-color: $primary;
  color: $white;
  border-radius: 6px;
  @include font(20px, 700);
  text-align: center;
  padding: 5px 0;
  margin-bottom: 14px;
}
// common title part end